
body {
    background: rgb(51, 12, 99);
    color: white;
    margin: 0;
    font-family: 'Poppins', 'Inter', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}